// Colors
// Colors - Base
$color-primary-white: #FFF;
$color-primary-dark-blue: #070724;
$color-primary-middle-blue: #38384F;
$color-primary-light-blue: #838391;
// Colors - Secondary
$color-secondary-mintgreen: #419EBB;
$color-secondary-yellow: #EDA249;
$color-secondary-purple: #6F2ED6;
$color-secondary-red: #D14C32;
// Colors - Complement
$color-complement-red: #D83A34;
$color-complement-orange: #CD5120;
$color-complement-mintgreen: #1EC2A4;

// Fonts
// Fonts - Antonio
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200;400;500;700&display=swap');
// Fonts - Spartan
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');

$font-antonio-headers: 'Antonio', sans-serif;
$font-spartan-paragraph: 'League Spartan', sans-serif;

// Layout sizes
$size-100-width: 1340px;
$size-80-width: 1024px;

// Mixins
@mixin font-style {
    font-family: $font-spartan-paragraph;
    color: $color-primary-white;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
}

body {
    padding: 0;
    margin: 0;
}

// Typography
h1, h2, h3 {
    font-family: $font-antonio-headers;
    color: $color-primary-white;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 500;
    font-size: 80px;
    line-height: 103px;
    text-transform: uppercase;
}

h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
}

h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.6px;
}

h4 {
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
}

p {
    @include font-style;
    margin: 0;
    padding: 0;
}

span {
    @include font-style;
}

a {
    font-family: $font-spartan-paragraph;
    text-decoration: none;
}

// Document
:root {
    padding: 0;
    margin: 0;
}

body {
    background: $color-primary-dark-blue url("../../assets/background-stars.svg") repeat;
    background-size: cover;
}

// Components
button {
    display: flex;
    height: 56px;
    align-items: center;
    font-family: $font-spartan-paragraph;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 3.2px;
    color: $color-primary-white;
    background: $color-primary-dark-blue;
    border: 1px solid $color-primary-middle-blue;
    padding: 12px 28px 12px 28px;
    text-transform: uppercase;
    cursor: pointer;
    span {
        font-weight: 500;
        margin-right: 28px;
        color: $color-primary-white;
        opacity: 0.5;
    }
    &:hover {
        background: $color-primary-middle-blue;
    }
}

// Test divar TA BORT
.textcontent {
    color: $color-primary-white;
}