@use 'config';

// Mobile design
@media (max-width: 490px) {

  h1 {
    line-height: 50px;
    &.title {
      font-size: 48px;
      margin-bottom: 24px;
    }
  }
  .header--wrapper {
    padding: 0;
  }
  .description {
    margin-bottom: 32px;
  }
  .d-desktop--tablet {
    display: none;
  }
  .d-mobile {
    display: flex;
    z-index: 10; // Can delete this one later
  }
  .d-display-none {
    display: none;
  }
  .category-wrapper {
    //display: flex;
    width: 100%;
  }
  .category {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0 48px 0 48px;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  button {
    font-size: 12px;
    border: none;
    padding: 12px 0 12px 0;
    span {
      display: none;
    }
  }
  .category-button {
    width: auto;
    margin-bottom: 0;
    padding-top: 16px;
    &.selected {
      background: none;
      border-bottom: 5px solid var(--color-selected);
    }
  }
  .content-wrapper {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  .planet-data {
    flex-direction: column;
    margin-top: 32px;
  }
  .content-image {
    height: 380px;
    img {
      width: calc(var(--image-selected) / 2);
    }
  }
  .data-item {
    flex-direction: row;
    align-items: center;
    height: 70px;
    padding: 0 24px 0 24px;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 12px;
    .data-title {
      margin-bottom: 0;
    }
    .data-content {
      font-size: 24px;
    }
    &:last-child {
      margin-bottom: 48px;
    }
  }
  nav {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 72px;
    left: 0;
    height: 100vh;
    background: config.$color-primary-dark-blue;
    z-index: 20;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 0 24px 0 24px;
  }
  .nav--menu {
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: space-between;
    margin: 0 24px 0 24px;
  }
  .mobile-menu {
    &.selected {
      opacity: 0.3;
    }
  }
  .nav--item {
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    color: config.$color-primary-white;
    opacity: 1;
    margin-right: 0;
    font-size: 18px;
    &:before {
      content: "\2B24";
      color: var(--planet-color);
      margin-right: 24px;
    }
  }
  .logo {
    margin-top: 0;
    span {
      font-size: 32px;
    }
  }
}